  <% if session['access_token'] && session['access_token_secret'] %>
    <div class="madlib">
      <span class="username">
        <%= link_to @randomTweeter + ':', "https://twitter.com/" + @randomTweeter %>
      </span>
      <span class="tweet">
        <%= partsOfSpeech(@randomTweet) %>
      </span>
    </div>
    <footer>
      <%= form_tag(signout_path, method: 'delete') do %>

        <button class="btn btn-danger" id="sign_out">
          <%= t('button.sign_out') %>
        </button>
      <% end %>
    </footer>
  <% else %>
    <footer>
      <%= form_tag '/auth/twitter', method: 'get', html: {class: 'form-horizontal'} do %>

        <button class="btn btn-large btn-primary">
          <%= t('button.MadLiberate') %>
        </button>
      <% end %>
    </footer>
  <% end %>
