<!DOCTYPE html>
<html>
<head>
  <title>MadLiberator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
    <%= image_tag "madlogo.png" %>
    <a class="burger" href="#menu">&#9776;</a>
    <span class="userImage">
    <% if session['access_token'] && session['access_token_secret'] %>
      <%= image_tag @user.profile_image_uri %>
    <% end %>
    </span>
  </header>

<%= yield %>

</body>
</html>
