<!DOCTYPE html>
<html>
<head>
  <title>MadLiberator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Signika:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="navbar">
    <a href="/"><%= image_tag "madlogo.png" %></a>
    <div class="navContainer">
        <span class="userImage">
          <% if current_user %>
            <%= image_tag current_user.image_url %>
          <% end %>
        </span>
        <span class="burger">
        <%= image_tag "burger.png" %>
        </span>
        <br>
        <span class="dropdown">
          <% if current_user %>
            <%= link_to "PROFILE", user_path(:id => current_user.id) %><br>
            <%= link_to "SIGN OUT", signout_path, method: 'delete' %>
          <% else %>
            <%= link_to "SIGN IN", '/auth/twitter' %>
            <% end %>
        </span>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
