<!DOCTYPE html>
<html>
<head>
  <title>MadLiberator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
    <a href="/"><%= image_tag "madlogo.png" %></a>
    <div class="navContainer">
        <span class="userImage">
          <% if current_user %>
            <%= image_tag current_user.image_url %>
          <% end %>
        </span>
        <span class="burger">
        <%= image_tag "burger.png" %>
        </span>
        <br>
        <span class="dropdown">
          <%= link_to "PROFILE", user_path(:id => current_user.id) %>
        </span>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
